:root {
  --www-ahsanzizan-xyz-semantic-heading-1-font-family: "Poppins", Helvetica;
  --www-ahsanzizan-xyz-semantic-heading-1-font-weight: 400;
  --www-ahsanzizan-xyz-semantic-heading-1-font-size: 96px;
  --www-ahsanzizan-xyz-semantic-heading-1-letter-spacing: 0px;
  --www-ahsanzizan-xyz-semantic-heading-1-line-height: 115.19999694824219px;
  --www-ahsanzizan-xyz-semantic-heading-1-font-style: normal;
  --www-ahsanzizan-xyz-semantic-heading-2-font-family: "Poppins", Helvetica;
  --www-ahsanzizan-xyz-semantic-heading-2-font-weight: 400;
  --www-ahsanzizan-xyz-semantic-heading-2-font-size: 72px;
  --www-ahsanzizan-xyz-semantic-heading-2-letter-spacing: 0px;
  --www-ahsanzizan-xyz-semantic-heading-2-line-height: 72px;
  --www-ahsanzizan-xyz-semantic-heading-2-font-style: normal;
  --www-ahsanzizan-xyz-semantic-heading-3-font-family: "Poppins", Helvetica;
  --www-ahsanzizan-xyz-semantic-heading-3-font-weight: 400;
  --www-ahsanzizan-xyz-semantic-heading-3-font-size: 48px;
  --www-ahsanzizan-xyz-semantic-heading-3-letter-spacing: 0px;
  --www-ahsanzizan-xyz-semantic-heading-3-line-height: 57.599998474121094px;
  --www-ahsanzizan-xyz-semantic-heading-3-font-style: normal;
  --www-ahsanzizan-xyz-semantic-heading-4-font-family: "Poppins", Helvetica;
  --www-ahsanzizan-xyz-semantic-heading-4-font-weight: 500;
  --www-ahsanzizan-xyz-semantic-heading-4-font-size: 20px;
  --www-ahsanzizan-xyz-semantic-heading-4-letter-spacing: 0px;
  --www-ahsanzizan-xyz-semantic-heading-4-line-height: 24px;
  --www-ahsanzizan-xyz-semantic-heading-4-font-style: normal;
  --www-ahsanzizan-xyz-semantic-item-font-family: "Poppins", Helvetica;
  --www-ahsanzizan-xyz-semantic-item-font-weight: 400;
  --www-ahsanzizan-xyz-semantic-item-font-size: 16px;
  --www-ahsanzizan-xyz-semantic-item-letter-spacing: 0px;
  --www-ahsanzizan-xyz-semantic-item-line-height: 24px;
  --www-ahsanzizan-xyz-semantic-item-font-style: normal;
  --www-ahsanzizan-xyz-semantic-link-font-family: "Poppins", Helvetica;
  --www-ahsanzizan-xyz-semantic-link-font-weight: 400;
  --www-ahsanzizan-xyz-semantic-link-font-size: 20px;
  --www-ahsanzizan-xyz-semantic-link-letter-spacing: 0px;
  --www-ahsanzizan-xyz-semantic-link-line-height: 28px;
  --www-ahsanzizan-xyz-semantic-link-font-style: normal;
}
